# Visual Studio / .NET Build Artifacts
[Bb]in/
[Oo]bj/
# [Pp]ublish/ (Release binaries folder)

# Backup and temp files
*.bak
*.tmp
[Tt]emp/
[Tt]mp/

# Visual Studio files
.vs/
*.user
*.suo
*.userprefs
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider / JetBrains
.idea/

# Logs and Crash Reports
*.log

# Temporary / OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# User configs & local runtime state
appsettings.json
auto_input_config.json
Publish/auto_input_config.json
